.container {
    width: 1000px;
}

header {
    position: relative;
    border-bottom: 2px solid white;
}
a {
    color: white;
}
.top {
    width: 100%;
    position: absolute;
    top: 0;
}
.top ul>li {
    margin-left: 20px;
}
.top ul li>a {
    font-size: 16px;
    color: white;
}
.top ul li>a>span {
    border-bottom: 0px solid white;
    padding-bottom: 5px;
}
header .top {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(11, 11, 11, 0.7);
}
.top ul li>a:hover {
    color: white;
    background-color: #000;
}
.top ul li>a:hover span {
    border-bottom: 1px solid white;
}
.title {
    display: inline-block;
    margin-left: 10%;
}
.title>h2 {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-top: 15px; ;
}
.tiao {
    width: 100%;
    height: 50px;
    background-color: #d5d5d5;
    color: white;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
}
.tiao .people {
    height: 50px;
    width: 200px;
    background-color: #000;
}
.content {
    width: 100%;
    background: url("../img/简木招商_03.png");
    background-size: cover;
}
.title-box {
    width: 200px;
    border: 2px solid black;
    margin-top: 100px;
    margin-bottom: 50px;
}
.title-box>h3 {
    margin-top: 6px;
}
.one {
    line-height: 30px;
}
.one h4 {
    display: inline-block;
}
.one span {
    display: inline-block;
    width: 150px;
    height: 2px;
    background-color: #000000;
    vertical-align: middle;
    margin: 0px 10px;
}
.two {
    margin : 50px 0;
    width: 80%;
    height: 220px;
    border: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
.mask {
    width: 800px;
    height: 156px;
    color: white;
    background-color: rgba(89, 89, 89, 0.5);
    position: absolute;
    top: 30px;
    left: 30px;
    box-shadow: -5px -5px #a2a2a2;
}
.sec1 {
    margin-top: 60px;
}
.three {
    width: 100%;
    height: 367px;
    margin: 50px 0;
    padding-left: 70px;
    padding-right: 70px;
}
.word {
    width: 80%;
    margin-top: 50px;
    line-height: 30px;
}
.word p {
    font-size: 16px;
}












