.container {
    width: 1100px;
}

header {
    position: relative;
    border-bottom: 2px solid white;
}
a {
    color: white;
}
.top {
    width: 100%;
    position: absolute;
    top: 0;
}
.top ul>li {
    margin-left: 20px;
}
.top ul li>a {
    font-size: 16px;
}
.top ul li>a>span {
    border-bottom: 0px solid white;
    padding-bottom: 5px;
}
header .top {
    background-color: rgba(11, 11, 11, 0.7);
}
.top ul li>a:hover {
    color: white;
    background-color: #000;
}
.top ul li>a:hover span {
    border-bottom: 1px solid white;
}
.title {
    display: inline-block;
    margin-left: 10%;
}
.title>h2 {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-top: 15px; ;
}
.two{
    height: 30px;
    background-color: #959ba7;
    margin-bottom: 2px;

}
.two .nav>li>a {
    width: 200px;
    height: 50px;
    line-height: 30px;
    font-size: 20px;
    transition: all 0.3s;
}
.two .nav>li>a:hover {
    background-color: #2c2719;
    color: white;
    transform: scale(1.2);
}
.container>.brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.container>.brand>.left {
    width: 45%;
}
.container>.brand>.right {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
}
.container>.brand>.right>h1 {
    border: 2px solid black;
    display: inline-block;
    padding: 5px 15px;
}
.container>.brand>.right>p {
    width: 89%;
    font-size: 16px;
    font-weight: 600;
    margin-top: 80px;
    font-family: "black";
    line-height: 180%;
}
.container>.brand>.right>.border {
    width: 150px;
    height: 50px;
    border-top: 2px solid #595959;
    border-right: 2px solid #595959;
    margin: 40px 30px 0 0;
}
.title-box {
    width: 200px;
    border: 2px solid black;
    margin-top: 100px;
    margin-bottom: 50px;
}
.title-box>h3 {
    margin-top: 6px;
}
.content {
    width: 82%;
    height: 500px;
}
.content .media-left {
    padding-right: 50px;
}
.content .media-body {
    padding-top: 100px;
}
.content .media-body>div {
    width: 150px;
    height: 2px;
    background-color: #c04737;
}
.content .media-body>p {
    margin-top: 50px;
    line-height: 200%;
    font-weight: 600;
}
.container>.last {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container>.last>div {
    /*height: 350px;*/
}
.container>.last>div>p {
    color: #808080;
}
.line {
    width: 80%;
    height: 1px;
    background-color: #b2b2b2;
    margin: 50px auto;
}














